@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary-orange: #f06000;
  --color-primary-blue: #0401b1;
  --color-primary-white: #ffffff;
}
